@{
  ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
  danltactor@gmail.com<br />
  <abbr title="Phone">P:</abbr>
  435.602.9305
</address>