@model GameTracker.Models.Character
<h2>Characters:</h2>

<form asp-action="Create" asp-controller="Home">
	<div>
		<input name="CharacterName" />
		<input type='submit' value="Add Character" />
	</div>
</form>

<div>
	<h4>Active Characters</h4>
	<ul>
		<li>@Model.Name</li>
	</ul>
</div>